
        <div class="bar bar-header bar-positive">
            <button ui-sref="main" class="button button-icon icon ion-ios-arrow-left flat"></button>
            <h1 class="title fab-left">&nbsp;&nbsp;Bienvenido {{usuario.id_tipo_usuario.nombre}}</h1>

        </div>
   <ion-content class="has-header">

<div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="First Name" ng-model="usuario.primer_nombre">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Apellido</span>
                    <input type="text" placeholder="Last Name" ng-model="usuario.primer_apellido">
                </label>
           <label class="item item-input item-floating-label">
                    <span class="input-label">Tipo de documento</span>
                    <input type="text" placeholder="Last Name" ng-model="usuario.tipo_documento">
                </label>
           <label class="item item-input item-floating-label">
                    <span class="input-label">Numero de Documento</span>
                    <input type="text" placeholder="Last Name" ng-model="usuario.numero_documento">
                </label>
           <label class="item item-input item-floating-label">
                    <span class="input-label">Direccion</span>
                    <input type="text" placeholder="Last Name" ng-model="usuario.direccion">
                </label>
           <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Last Name" ng-model="usuario.email">
                </label>
           <label class="item item-input item-floating-label">
                    <span class="input-label">Fecha de nacimiento</span>
                    <input type="text" placeholder="Last Name" ng-model="usuario.fecha_nacimiento">
                </label>
           <label class="item item-input item-floating-label">
                    <span class="input-label">Sexo</span>
                    <input type="text" placeholder="Last Name" ng-model="usuario.sexo">
                </label>
           <label class="item item-input item-floating-label">
                    <span class="input-label">Telefono Movil</span>
                    <input type="text" placeholder="Last Name" ng-model="usuario.telefono_movil">
                </label>


                <button ng-click="cerrarSesion();" class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Cerrar sesión
                </button>
            </div>

   </ion-content>
