      <ion-content class="loginBG">
        <div class="padding">

      <center class="header_login">
          <h1 class="ion-cube"></h1>
          <h1>Demo App</h1>
      </center>
      <div class="list">

            <ion-md-input placeholder="Usuario" ng-model="credenciales.usuario" highlight-color="balanced" type="text" required></ion-md-input>

           <ion-md-input placeholder="Password" ng-model="credenciales.clave" highlight-color="positive" type="password" required></ion-md-input>

        </div>
      </div>
        <div class="padding">
            <button ng-disabled="credenciales.usuario==undefined || credenciales.usuario=='' || credenciales.clave==undefined || credenciales.clave==''" ng-click="login(credenciales);" class="button button-block button-positive waves-effect waves-button waves-light">Login</button>
        </div>
      </ion-content>
