/* Empty. Add your own CSS if you like */

*{
		font-family: 'Source Sans Pro', sans-serif !important;
		font-weight: 500 !important;
}

.loginBG{
	background: url("../img/bg.jpg");
	background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.right{
   float: right;
   padding-bottom: 15px;
   padding-right: 15px;
}

.hero{
  height: 156px !important;
}

.name_user{
	padding-bottom: 10px;
}

.big_icon-positive-900{
	  color: #1A237E;
	  font-size: 53px;
}

.big_icon-positive{
	  color: #387ef5;
	  font-size: 53px;
}

.big_icon-positive-100{
	  color: #C5CAE9;
	  font-size: 53px;
}

.big_icon-calm-900{
	  color: #0D47A1;
	  font-size: 53px;
}

.big_icon-calm{
	  color: #11c1f3;
	  font-size: 53px;
}

.big_icon-calm-100{
	  color: #BBDEFB;
	  font-size: 53px;
}

.big_icon-royal-900{
	color: #311B92;
	font-size: 53px;
}

.big_icon-royal{
	color: #886aea;
	font-size: 53px;
}

.big_icon-royal-100{
	color: #D1C4E9;
	font-size: 53px;
}

.big_icon-assertive-900{
	  color: #B71C1C;
	  font-size: 53px;
}

.big_icon-assertive{
	  color: #ef473a;
	  font-size: 53px;
}

.big_icon-assertive-100{
	  color: #FFCDD2;
	  font-size: 53px;
}

.big_icon-energized-900{
	  color: #E65100;
	  font-size: 53px;
}

.big_icon-energized{
	  color: #ffc900;
	  font-size: 53px;
}

.big_icon-energized-100{
	  color: #FFE0B2;
	  font-size: 53px;
}

.big_icon-balanced-900{
	  color: #1B5E20;
	  font-size: 53px;
}

.big_icon-balanced{
	  color: #33cd5f;
	  font-size: 53px;
}

.big_icon-balanced-100{
	  color: #C8E6C9;
	  font-size: 53px;
}

.big_icon-stable{
	  color: #e5e5e5;
	  font-size: 53px;
}

.big_icon-dark,.big_icon-light{
	  color: #444;
	  font-size: 53px;
}

.header_login{
    margin-top: 60px;
}


.header_login span, .header_login h1{
	color:#fff !important;
	margin:0 !important;
}

.wp0{
	width: 0;
	padding: 0 !important;
}
/*TENSION*/

.tension_info{
	margin-bottom: 10px !important;
}

a {
	text-decoration: none !important;
}

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #fff;
  fill: #fff;
}